.Header-nav-item {
  box-shadow: none;
  border: 2px solid #f03124;
  color: #f03124;
  padding: 12px 18px;
  margin: 0.618em 0.45em;
  border-radius: 300px;
  text-decoration: none;
}

.Header-nav-inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  white-space: normal;
  font-weight: 400;
  font-style: normal;
  font-size: 14.25px;
  letter-spacing: 0em;
  text-transform: uppercase;
  line-height: 1em;
}


/* Slideshow */

.slideshow {
  margin: 0 auto;
  overflow: hidden;
  max-width: 500px;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  display: inline-block;

  height: 400px;
  width: 100%;
  border-radius: 40px;
}

/* Buttons */

.slideshowDots {
  text-align: center;
}

.slideshowDot {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;

  cursor: pointer;
  margin: 15px 7px 0px;

  background-color: #c4c4c4;
}

.slideshowDot.active {
  background-image: url(https://images.squarespace-cdn.com/content/v1/5c9001be7fdcb89c5f59bc3f/1683295473750-HWE21R3I2203TPBY8AFN/apply-csr-online.jpg?format=1500w);

}