*{
    margin: 0;
    padding: 0;
}

.top-nav{
    background-color: rgb(4, 66, 77);
    color: white;
    height: 25px;
}

.top-nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 20px;
    align-items: center;
}