.signup-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    padding: 0 2rem;
}

.signup-form {
    flex: 1;
    max-width: 400px;
    margin-right: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    /* Reduce the gap between label and input box */
}

input {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    text-indent: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 40px;
}

input[type="submit"] {
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 40px;
    font-size: 16px;
    margin-top: 1rem;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.already-login {
    flex: 1;
    max-width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.already-login p {
    margin-bottom: 0.5rem;
}

.already-login button {
    background-color: rgb(150, 34, 150);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 16px;
}

.already-login button:hover {
    background-color: rgb(73, 10, 73);
}