input {
  padding: "20px";
}

.role-selection {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.role-option {
  display: inline-flex;
  align-items: center;
  margin-right: 20px;
  color: #999;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s;
}

.role-option.active {
  color: #e50914;
}
